// colors

$nav-color:#FFD4AA;
$nav-bgc:#07123A;
$banner-text:#07123A;
$mobile-item-hover:#4F9F64;
$card-body:$nav-color;
$subscription-card:#003F11;


// font sizes
$u:0.5em;
$U:1em;
$Uu:1.5em;
$UU: 2em;
$UUu: 2.5em;
$UUU: 3em;



$navHeight: 4em;
