.nav{
    width:100%;
    background-color: $nav-bgc;
    color:$nav-color;
    display: flex;
    flex-wrap: wrap;
    height: $navHeight;
    align-items: center;

    &-button{
        border: none;
        background-color: $nav-bgc;
        color:$nav-color;
        height: auto;
        display:flex;
        margin: 10px;

        
    }
    &-brand{
        width: 70%;
        font-size: 2em;
        text-align: center;
    }

    &-mobile{
        width: 250px;
        height: 60%;
        background-color: $nav-bgc;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: $navHeight;
        left: 0px;
        z-index: 1000;
        animation: slide-in 1s ease-out;

        &__item{
            text-align: center;
            width: 100%;
            height: auto;
            line-height: 1.5;
            font-size: 2em;
            color: $nav-color;
            padding: 10px;
        }
        &__item:hover{
            text-decoration: none;
            color:$mobile-item-hover;
        }
    }
    &-login{
        width: 10%;
        display: flex;
        justify-items: center;
    }



    
    .material-icons{
        font-size: 36px;
        align-items: center;
    }
}




@keyframes slide-in{
    0%{
        transform: translateX(-250px);
    }
    
    100%{
        transform: translateX(0px);
    }
}

