/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.Banner {
  width: 100%;
  height: 100vh;
  background-image: url("https://picsum.photos/1200");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-position: center center;
  background-attachment: fixed; }
  .Banner__Content {
    background-attachment: scroll; }
  .Banner__Text {
    width: 80%;
    color: #07123A;
    font-size: 3em;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; }
  .Banner__Button {
    border: none;
    background-color: #388f2d;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px 30px;
    width: 200px; }

.Main {
  width: 100%;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: #07123A; }
  .Main-title {
    color: #FFD4AA;
    font-size: 2em;
    margin: 20px; }

.nav {
  width: 100%;
  background-color: #07123A;
  color: #FFD4AA;
  display: flex;
  flex-wrap: wrap;
  height: 4em;
  align-items: center;
  position: fixed;
  z-index: 100; }
  .nav-button {
    border: none;
    background-color: #07123A;
    color: #FFD4AA;
    height: auto;
    display: flex;
    margin: 10px; }
  .nav-brand {
    width: 70%;
    font-size: 2em;
    text-align: center; }
  .nav-mobile {
    width: 250px;
    height: 60%;
    background-color: #07123A;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4em;
    left: 0px;
    z-index: 1000;
    animation: slide-in 1s ease-out; }
    .nav-mobile__item {
      text-align: center;
      width: 100%;
      height: auto;
      line-height: 1.5;
      font-size: 2em;
      color: #FFD4AA;
      padding: 10px; }
    .nav-mobile__item:hover {
      text-decoration: none;
      color: #4F9F64; }
  .nav-login {
    width: 10%;
    display: flex;
    justify-items: center; }
  .nav .material-icons {
    font-size: 36px;
    align-items: center; }

@keyframes slide-in {
  0% {
    transform: translateX(-250px); }
  100% {
    transform: translateX(0px); } }

.card {
  width: 350px;
  height: 400px;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  border: none !important;
  border-radius: 0; }
  @media (max-width: 420px) {
    .card {
      width: 50%;
      height: 50%; } }
  .card-header {
    width: 100%;
    height: 300px;
    margin: 0 !important;
    padding: 0 !important; }
    .card-header img {
      width: 100%;
      height: 100%; }
  .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 10px !important;
    justify-content: center;
    background-color: #FFD4AA; }
    .card-body h4 {
      width: 100%;
      font-size: 1.5em; }
    .card-body-info {
      display: flex;
      justify-content: space-between; }
    .card-body-price {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      font-size: 1em;
      font-weight: 500; }
    .card-body button {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      background-color: #4F9F64;
      color: white;
      border: none;
      border-radius: 20px 20px; }
  .card .material-icons {
    font-size: 28px;
    align-items: center; }

.section-subscription {
  width: 100%;
  height: auto;
  margin-top: 50px; }

.subscription-widget {
  width: 100%;
  height: auto;
  background: #003F11;
  color: #FFD4AA;
  padding: 3em 1em; }
  .subscription-widget__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em; }
    .subscription-widget__header p {
      text-align: center;
      word-wrap: normal;
      padding: 0 15px;
      font-size: 1.5em;
      line-height: 1;
      text-transform: uppercase; }
  .subscription-widget__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0.5em; }
  .subscription-widget__form {
    width: 100%;
    height: 70px;
    border: 1px solid #FFD4AA;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .subscription-widget__form input {
      padding-left: 15px;
      height: 30px;
      width: 80%;
      background-color: inherit;
      border: none;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .subscription-widget__form input:focus, .subscription-widget__form input::placeholder {
      color: white;
      font-size: 0.85em; }
    .subscription-widget__form button {
      border: none;
      background-color: inherit; }
    .subscription-widget__form .material-icons {
      font-size: 36px;
      color: #FFD4AA; }

.section-about {
  width: 100%;
  height: auto;
  margin-top: 50px; }
  .section-about__title h2 {
    font-size: 1em;
    text-transform: uppercase; }

.about-card {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  background-color: #07123A; }
  .about-card__header {
    width: 100%;
    height: 400px; }
    .about-card__header img {
      width: 100%;
      height: 100%; }
  .about-card__body {
    width: 100%;
    height: 100%;
    margin-top: 10px; }
    .about-card__body p {
      color: #FFD4AA;
      font-size: 1.5em;
      padding: 1.5em; }

.section-sugestions {
  width: 100%;
  height: 100%;
  margin-top: 50px; }
  .section-sugestions__title h2 {
    font-size: 1em;
    text-transform: uppercase; }

.sugestions-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #07123A;
  color: #FFD4AA; }

.sugestion__card {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap; }
  .sugestion__card img {
    width: 100px;
    height: 100px;
    padding: 10px;
    align-self: center; }
  .sugestion__card--text {
    height: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    align-self: center;
    margin: 0; }
  .sugestion__card--separetor {
    border: 1px dashed #FFD4AA;
    width: 80%;
    justify-self: center; }

.Footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px; }
  .Footer a {
    text-decoration: none;
    color: black; }
    .Footer a:hover {
      text-decoration: none;
      color: #FFD4AA; }
  .Footer__Menu {
    width: 50%;
    display: flex;
    flex-wrap: wrap; }
    .Footer__Menu-item {
      width: 100%; }
  .Footer__Social {
    width: 50%;
    display: flex;
    flex-wrap: wrap; }

@media (min-width: 420px) {
  .Footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px; }
    .Footer a {
      text-decoration: none;
      color: black; }
      .Footer a:hover {
        text-decoration: none;
        color: #FFD4AA; }
    .Footer__Menu {
      width: 50%;
      display: flex;
      justify-content: start; }
      .Footer__Menu-item {
        width: auto;
        margin-right: 5px; }
    .Footer__Social {
      width: 50%;
      display: flex;
      justify-content: end; } }

.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-self: center; }
  .Login__Form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    justify-content: center; }
    .Login__Form__Footer {
      width: 100%;
      font-size: 14px;
      display: flex;
      justify-content: space-around; }
      .Login__Form__Footer a {
        margin-top: 10px;
        text-decoration: underline;
        color: black; }
    .Login__Form__Header {
      width: 100%;
      margin-left: 30px;
      display: flex;
      justify-content: start; }
    .Login__Form button {
      width: 300px;
      height: 50px;
      margin: 15px 0;
      border: none;
      background-color: #07123A;
      color: #FFD4AA;
      display: flex;
      justify-content: space-between; }
    .Login__Form h3 {
      text-transform: uppercase;
      font-size: 14px; }
    .Login__Form__Field {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px; }
      .Login__Form__Field label {
        margin-left: 30px;
        width: 100%; }
      .Login__Form__Field input {
        border: 1px solid black;
        height: 40px;
        width: 300px; }

.Register {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-self: center; }
  .Register__Form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    justify-content: center; }
    .Register__Form__Footer {
      width: 100%;
      font-size: 14px;
      display: flex;
      justify-content: flex-start; }
      .Register__Form__Footer a {
        margin-top: 10px;
        text-decoration: underline;
        color: black;
        margin-left: 30px; }
    .Register__Form__Header {
      width: 100%;
      margin-left: 30px;
      display: flex;
      justify-content: start; }
    .Register__Form button {
      width: 300px;
      height: 50px;
      margin: 15px 0;
      border: none;
      background-color: #07123A;
      color: #FFD4AA;
      display: flex;
      justify-content: space-between; }
    .Register__Form h3 {
      text-transform: uppercase;
      font-size: 14px; }
    .Register__Form__Field {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px; }
      .Register__Form__Field label {
        margin-left: 30px;
        width: 100%; }
      .Register__Form__Field input {
        border: 1px solid black;
        height: 40px;
        width: 300px; }

.Reset {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-self: center; }
  .Reset__Form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    justify-content: center; }
    .Reset__Form__Footer {
      width: 100%;
      font-size: 14px;
      display: flex;
      justify-content: space-around; }
      .Reset__Form__Footer a {
        margin-top: 10px;
        text-decoration: underline;
        color: black; }
    .Reset__Form__Header {
      width: 100%;
      margin-left: 30px;
      display: flex;
      justify-content: start; }
    .Reset__Form button {
      width: 300px;
      height: 50px;
      margin: 15px 0;
      border: none;
      background-color: #07123A;
      color: #FFD4AA;
      display: flex;
      justify-content: space-between; }
    .Reset__Form h3 {
      text-transform: uppercase;
      font-size: 14px; }
    .Reset__Form__Field {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px; }
      .Reset__Form__Field label {
        margin-left: 30px;
        width: 100%; }
      .Reset__Form__Field input {
        border: 1px solid black;
        height: 40px;
        width: 300px; }
