.Footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;

  @media (min-width: 1024px) {
    height: 70px;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: $nav-color;
    }
  }

  &__Menu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1024px) {
      display: flex;
      align-content: center;
    }

    &-item {
      width: 100%;
      @media (min-width: 1024px) {
        text-align: center;
        width: 20%;
      }
    }
  }

  &__Social {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1024px) {
      display: flex;
      align-content: center;
      justify-content: flex-end;
    }
  }
}
